<div class="jumbotron jumbotron-home">
    <div class="container">
        <% if user_signed_in? %>
            <h1>Autocon! Bem vindo de volta</h1>
        <% else %>     
            <h1>Autocon!</h1>
        <% end %> 
         <p>Conheça a si mesmo e blá blá blá.</p>
            <%= link_to "Learn more »", about_path, class: "btn btn-primary btn-lg" %>
        <p></p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Crie sua primeira pesquisa</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><%= link_to "Criar Pesquisa", about_path , class: "btn btn-secondary" %></p>
        </div>
        <div class="col-md-6">
            <h2>Saiba mais</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><%= link_to "Saiba Mais", contact_path , class: "btn btn-secondary" %></p>
        </div>
    </div>
</div>